<h2>Current User's Library</h2>
<h3>Download or manage your chosen titles below</h3>


<div id="all_music">
  
    <div id="music">
      <img src="/images/rails.png" />
      <%= link_to "Test music", '#' %>
      <p>Singer</p>
      <%= link_to 'Remove from library', '#', class: 'small_link_button', id: '' %>
      <%= link_to 'Download', '#', class: 'small_link_button', id: '' %>
    </div>
  
</div>


